/* Style for Login
------------------- */

.login-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: white;
}

.btn-close {
	position: absolute;
	top: 20px;
	right: 40px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

.btn-close::before {
	content: '\2716';
}

.login-modal .panel {
	position: absolute;
	top: 20vh;
	right: 25vw;
	left: 25vw;
}

.tab-container {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
}

.tab-container .field {
	display: flex;
	flex-direction: column;
	margin: 8px 0;
}

.tab-container label {
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
}

.tab-container .warning {
	color: #f22613;
	margin-left: 20px;
	font-weight: normal;
}

.tab-container input {
	border: none;
	border-bottom: 2px solid #b1b1b1;
	outline: none;
	background: none;
	color: #202020;
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
	transition: .2s;
}

.tab-container input:focus {
	border-bottom: 2px solid #202020;
}

.tab-container button {
	display: flex;
	justify-content: center;
	min-height: 24px;
	padding: 3px 5px;
	margin: 5px 0;
	border: none;
	border-radius: 5px;
	outline: none;
	color: #202020;
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
	cursor: pointer;
}

.tab-container .btn-google {
	justify-content: center;
	min-height: 24px;
	padding: 3px 5px;
	margin: 5px 0;
	border: 1px solid #f1f1f1;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	color: #202020;
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
	vertical-align: middle;
	cursor: pointer;
}

.tab-container img {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}